@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: aqua;
}

/* roberto image */
#pexels-roberto-shumski-9134625 {
    height: 600px;
    width: 100%;
    background: url('/assets/css/images/pexels-roberto-shumski-9134625.jpg') 
    alt="The Old Dublin Road just at the Dublin site of Portlaoise" no-repeat center center;
    background-color: green;
}

/* Footer */
footer {
    height: 150px;
    background-color: aqua;
}
.social-networks {
    text-align: left;
}
.social-networks > li {
    display: inline;
}
.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: green;
}
/*.aqua {
    background-color: aqua;
} */